:root {
    --primary-color:#000000;
}

a {
    text-decoration: none;
}

p {
    width: fit-content;
}

nav a {
    color: var(--primary-color);
    text-align: center;
}

main section:first-of-type p{
    margin: 0;
} 

main section {
    width: 90%;
    margin: 50px auto;

}

#competences > div:last-of-type li{
    text-align: center;
    height: 49px;
}

