@font-face {
    font-family: "PanPizza";
    src: url(../font/panpizza.woff2);
}


:root {
    --primary-color: #000000;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

p {
    width: fit-content;
}

h1 {
    font-family: "PanPizza", serif;
    font-size: 4em;
}

.navbar-brand {
    font-family: "PanPizza", serif;
    font-size: 2em;
}

nav a {
    color: var(--primary-color);
    text-align: center;
}

nav li>a {
    font-weight: bolder;
}

main section:first-of-type p {
    margin: 0;
    font-size: 1.3em;
}




main section {
    width: 90%;
    margin: 50px auto;
}

footer section {
    width: 95%;
    margin: auto;
}

#competences>div:last-of-type li {
    text-align: center;
    height: 36px;
}