/* Import Police */
@font-face {
    font-family: "PanPizza";
    src: url(../font/panpizza.woff2);
}

/*Propriétés page */
:root {
    --primary-color: #000000;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

/*Fin propriétés page */

/*Navbar */

.navbar-brand {
    font-family: "PanPizza", serif;
    font-size: 2em;
}

nav a {
    color: var(--primary-color);
    text-align: center;
}

nav li>a {
    font-weight: bolder;
}

/* Fin navbar */

/* Proriétés main page */

main p {
    width: fit-content;
}

h1 {
    font-family: "PanPizza", serif;
    font-size: 4em;
}

main section {
    width: 90%;
    margin: 50px auto;
}

main section:first-of-type p {
    margin: 0;
    font-size: 1.3em;
}

/*Fin proriétés main page */

/*Compétences */

#competences>div:last-of-type li {
    text-align: center;
    height: 36px;
}

/*Fin compétences */

/*Experiences pro */

#experiences p {
    font-size: 1.3em;
}

#experiences li {
    font-size: 1em;
}

.hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 1px;
    background-color: #000000;
}

/*Fin experiences pro */

/*Pied de page */
footer {
    margin: 0;
    position: sticky;
    bottom: 0;
    z-index: 100;
}

footer p {
    margin: 0;
    padding: 5px 0;
}

footer a {
    font-family: "PanPizza", serif;
    font-size: 2em;
}

/*Fin pied de page */