/* page properties */
html {
    --headc: placeholder;
    --mainc: #19191b;
    font-size: 16px;
}

body {
    font-family: placeholder;
}
/* end page properties */

/*debut footer */
footer {
    background-color: var(--mainc);
 }

 .retourn {
    width: 800px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

footer a {
    text-decoration: none;
    color:#fff;
}

footer a:hover {
    color:var(--mainc);
    background: #fff;
}

.legal  {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color:#fff;
}
/* fin footer */